/* NAVBAR */
.navbar {
  background-color: #212529 !important;
  font-family: 'Roboto', serif !important;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
}
.nav-bar{
  margin-top: 0;
  padding-top: 0;
}
nav-link {
  opacity: 0.7;
  color: #fff !important;
}
.nav-link:hover {
  opacity: 1;
  background-color: #243194;
  border: 1px solid #243194;
  border-radius: 10px;
  color: #fff !important;
}
.navbar-brand{
  letter-spacing: -2px;
  margin-top: 0;
}
a.nav-link{
  color: #fff !important;
}

/* Buttons */
.btn, .navbar-brand, .input-group-text{
  background-color: #243194 !important;
  border: 1px solid #243194 !important;
  border-radius: 10px;
  color: white !important;
}
.navbar-brand{
  width: 38px;
}
.nav-link{
  color: #000000 !important;
  border-radius: 10px;
}
#info {
  color: white;
}

/* header */
.section-header {
  position: relative;
  height: 700px;
  width: 100%;
  margin: 0;
}
.text-center{
  width: 25% !important;
}
.section-header::before {
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1)), url("Images/blackguy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
header p{
  font-style: italic;
}
#smol{
  width: 35% !important;
}
.button-hover:hover{
  background-color: transparent !important;
  color: black !important;
  border: solid 2px #243194 !important;
}

/* Main part */
.meet{
  text-align: center;
}
.main{
  background-color: #fff;
}
.container img{
  background-color: #243194;
  border-radius: 5px;
}
.services img{
  width: 200px;
  height: 200px;
  margin: 10px;
  position: relative;
  top: 5px;
}
.col-md-2{
  width: 245px !important;
  margin: 5px;
  padding: 0;
  border-radius: 5px;
}
hr {
  border: none;
  height: 1px;
}
h3.small{
  font-size: 20px;
}
hr.bot{
  color: black;
}
.col-md-3 img{
  Border-radius: 20px;
  Height: 10%
}
section{
  padding-top: 100px;
}
main{
  background-color: #cdd1ee;
}
.contact i{
  background-color: #243194;
  color: black;
  border-radius: 5px;
  padding: 10px;
  display: relative;
  top: 2px;
}
.input-group{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
}
.contact .btn{
  width: 100%;
}
.contact{
  text-align: center;
}
.form-control{
  width: 100%;
}
.contact{
  padding-bottom: 100px;
}
/* footer */
footer{
  background-color: #212529;
  color: white;
  font-size: 75%;
}
footer h3{
  font-size: 20px;
  padding-top: 20px;
}
footer i{
  padding: 5px;
  float: left;
  position: relative;
  bottom: 6px;
}
